<header class="navbar">
  <a src="#" class="navbar__logo">
    <img src="/assets/images/logo.svg" class="navbar__logo__img" />
    <span class="navbar__logo__brand">Mytems</span>
  </a>
  <nav class="navbar__nav">
    <a href="#" class="navbar__nav__item">Inicio</a>
    <a href="#" class="navbar__nav__item">Sobre</a>
    <a href="#" class="navbar__nav__item">Isso</a>
    <a href="#" class="navbar__nav__item">Aquilo</a>
  </nav>
  <div class="navbar__buttons">
    <a href="#" class="navbar__buttons__cart">
      <i class="ri-shopping-cart-fill navbar__buttons__cart__icon"></i>
      <span class="navbar__buttons__cart__number">5</span>
    </a>
    <a href="#" class="navbar__buttons__auth">Entrar</a>
    <a href="#" class="navbar__buttons__auth">Cadastre-se</a>
  </div>
</header>
