<header class="navbar">
  <div class="navbar__brand">
    <img src="/assets/images/logo.svg" alt="" class="navbar__brand__img">
    <span class="navbar__brand__text">Mytems</span>
  </div>
  <nav class="navbar__nav">
    <a href="#" class="navbar__nav__item">Inicio</a>
    <a href="#" class="navbar__nav__item">Items</a>
    <a href="#" class="navbar__nav__item">Contato</a>
  </nav>
  <div class="navbar__buttons">
    <a href="#" class="navbar__buttons__button">Entrar</a>
    <a href="#" class="navbar__buttons__button">Cadastrar</a>
  </div>
</header>