<div class="shop">
  <section class="shop__filters">
    <div class="shop__filters__filter">
      <header class="shop__filters__filter__header">
        <h3 class="shop__filters__filter__header__title">Marcas</h3>
      </header>
      <div class="shop__filters__filter__body">
        <div class="shop__filters__filter__body__option">
          <input type="checkbox" name="option1" value="Option-1">
          <label for="option1"> Opção 1</label>
        </div>
        <div class="shop__filters__filter__body__option">
          <input type="checkbox" name="option1" value="Option-1">
          <label for="option1"> Opção 1</label>
        </div>
        <div class="shop__filters__filter__body__option">
          <input type="checkbox" name="option1" value="Option-1">
          <label for="option1"> Opção 1</label>
        </div>
      </div>
    </div>
    <div class="shop__filters__filter">
      <header class="shop__filters__filter__header">
        <h3 class="shop__filters__filter__header__title">Tipos</h3>
      </header>
      <div class="shop__filters__filter__body">
        <div class="shop__filters__filter__body__option">
          <input type="checkbox" name="option1" value="Option-1">
          <label for="option1"> Opção 1</label>
        </div>
        <div class="shop__filters__filter__body__option">
          <input type="checkbox" name="option1" value="Option-1">
          <label for="option1"> Opção 1</label>
        </div>
        <div class="shop__filters__filter__body__option">
          <input type="checkbox" name="option1" value="Option-1">
          <label for="option1"> Opção 1</label>
        </div>
      </div>
    </div>
  </section>
  <section class="shop__content">
    <h4>content</h4>
  </section>
</div>